{% extends 'common/home-page.html' %}
{% load static %}

{% block content %}
    <div class="login-register-div" style="padding: 100px 600px">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <form action="#">
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" placeholder="Username">
                </p>
                <p>
                    <label for="id_password">Password:</label>
                    <input type="password" placeholder="Password">
                </p>

                <button type="submit">Log in</button>
            </form>

        </div>
        <div class="second-option">


            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock %}
